@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
  height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: inherit;
}

.dlist-enter {
  opacity: 0;
}
.dlist-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.dlist-exit {
  opacity: 1;
}
.dlist-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}